# vscode 配置文件
.vscode

# 临时文件
.idea

# .codebuddy 配置文件
.codebuddy

# node临时文件
node_modules

# 打包临时文件
dist
*.vsix
README.md.bak.*

# 测试文件
.pytest_cache
coverage/**
dist-test
test/**/*.js
test/**/*.js.map

# 隐藏文件
.DS_Store
